<div class="grid-x align-center">
	<div class="small-12 large-11 large-offset-1 cell">
		<div class="slider">
			<div class="js-slider-toggle slider__toggle">
				<span class="toggle-open" aria-label="Open thumbnail view">Thumbnails</span>
				<span class="toggle-close" aria-label="Close thumbnail view" aria-hidden="true">Close</span>
			</div>
			<div class="js-slider slider__inner" tabindex="0">
				{% for row in entry.sliderImages %}
					{% set positionClass %}
						{% switch row.imagePosition.value %}
							{% case "right" %}
								{{ "slide--right" }}
							{% case "center" %}
								{{ "slide--center" }}
							{% default %}
								{{ "slide--left" }}
						{% endswitch %}
					{% endset %}
					<div class="js-slide slide {{ positionClass|trim }}">
						<img src="{{ row.image.first().url }}" alt="{{ row.image.first().title }}">
						{% if row.imageLabel|trim is not empty %}
							<div class="slide__label">
								<p>{{ row.imageLabel }}</p>
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
			<div class="js-thumbnails thumbnails">
				<div class="grid-x grid-margin-x grid-margin-y small-up-2 medium-up-3 large-up-4">
					{% for row in entry.sliderImages %}
						<div class="cell">
							<a class="js-slider-thumb thumbnail" href="">
								<img src="{{ row.image.first().getUrl('thumbnail') }}" alt="{{ row.image.first().title }}">
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% if entry.text|trim %}
			<div class="grid-x">
				<div class="large-8 cell">
					<div class="fmt">
						{{ entry.text }}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</div>

