<div class="grid-x">
	<div class="small-12 medium-10 large-8 large-offset-1 cell">
		<div class="js-lightbox project">
			{% for block in entry.projectBuilder %}
				{% switch block.type %}
					{% case "halfWidthImages" %}
						{% set positionClass %}
							{% switch block.imagePosition.value %}
								{% case "right" %}
									{{ "project__item--right" }}
								{% case "center" %}
									{{ "project__item--center" }}
								{% default %}
									{{ "project__item--left" }}
							{% endswitch %}
						{% endset %}
						<div class="project__item project__item--inline {{ block.images|length < 2 ? positionClass|trim }}">
							{% for row in block.images %}
								<div class="project__image">
									<a class="js-gallery-item" href="{{ row.image.first().url }}">
										<img src="{{ row.image.first().url }}" alt="{{ row.image.first().title }}">
									</a>
									<div class="project__label">
										<p>{{ row.imageLabel }}</p>
									</div>
								</div>
							{% endfor %}
						</div>
					{% case "fullwidthImages" %}
						{% for row in block.images %}
							<div class="project__item">
								<a class="js-gallery-item" href="{{ row.image.first().url }}">
									<img src="{{ row.image.first().url }}" alt="{{ row.image.first().title }}">
								</a>
								<div class="project__label">
									<p>{{ row.imageLabel }}</p>
								</div>
							</div>
						{% endfor %}
					{% default %}
						<div class="project__item">
							<div class="grid-x">
								<div class="large-8 cell">
									<div class="fmt fmt--unpadded">
										{{ block.text }}
									</div>
								</div>
							</div>
						</div>
				{% endswitch %}
			{% endfor %}
		</div>
	</div>
</div>
