{% set path = getenv('ENVIRONMENT') == 'production' ? '/web/dist/' : '/' %}

<!doctype html>
<html lang="en" class="feature--no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>{{ entry is defined ? entry.title : title }} | {{ siteName }} | {{ seo.titleDescription }}</title>
		{% set description %}
			{% for description in seo.pageSpecificMetaDescription.all() if entry is defined and description.page.one().title == entry.title %}
				{{ description.description }}
			{% endfor %}
		{% endset %}
		<meta name="description" content="{{ description|trim is empty ? seo.generalMetaDescription : description }}">

		<link rel="stylesheet" href="/media/stylesheets/fonts.css" />
		<link rel="stylesheet" href="{{ path }}{{ craft.twigpack.getModuleUri("app.css")  }}" />
		<script src="/media/javascripts/modernizr.js"></script>
		{# {{ craft.twigpack.includeJsModule("app.js") }} #}
		<script src={{ path }}{{ craft.twigpack.getModuleUri("app.js") }}"></script>

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#787878">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">

		<meta property="og:image" content="{{ craft.entries.section("homepage").one().featureImage.one().url }}">
		<meta property="og:title" content="{{ entry is defined ? entry.title : title }} | {{ siteName }} | {{ seo.titleDescription }}">
		<meta property="og:description" content="{{ description|trim is empty ? seo.generalMetaDescription : description }}">
		<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">
	</head>
	<body>
		<div class="js-nav">
			{% include "_shared/side-nav" %}
			{% include "_shared/header" %}
		</div>

		<div class="page">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
			<div class="page__footer">
				{% include "_shared/footer" %}
			</div>
		</div>
	</body>
</html>
