{% extends "_layout" %}

{% block content %}

	{% set positionClass %}
		{% switch entry.featureImagePosition.value %}
			{% case "right" %}
				{{ "showcase-image--right" }}
			{% case "center" %}
				{{ "showcase-image--center" }}
			{% default %}
				{{ "showcase-image--left" }}
		{% endswitch %}
	{% endset %}
	<div class="showcase-image {{ positionClass|trim }}">
		<picture>
			<img src="{{ entry.featureImage.first().url }}" alt="{{ entry.featureImage.first().title }}">
		</picture>
	</div>

{% endblock %}
